<h2> Please ask coach !!! </h2>

<form action="/answer" data-turbo="false">
  <label for="answer"> Please ask a question ??</label>
  <input id="answer" type="text" name="question" placeholder="ASK ME....">
  <input type="submit" value="Ask!">
</form>
